/* Light Purple */
/* Base Purple */
/* Dark Purple */
/* Background Purple */
/* Base Blue */
/* Light Blue: */
/* Dark Blue: */
/* Base Green: */
/* Orange */
/* Yellow */
/* Red */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/LatoRegular.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/LatoBold.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/LatoLight.woff") format("woff");
}

/* line 29, ../scss/utility/_typo.scss */
body {
  font-family: Lato, "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  color: #acacc6;
  font-size: 14px;
}

/* line 36, ../scss/utility/_typo.scss */
a {
  color: #4a90e2;
  text-decoration: none;
}
/* line 40, ../scss/utility/_typo.scss */
a:hover {
  color: #a2d3f0;
}

/* line 45, ../scss/utility/_typo.scss */
h1 {
  font-size: 1.6em;
}

/* line 49, ../scss/utility/_typo.scss */
h2 {
  font-size: 1.4em;
}

/* line 53, ../scss/utility/_typo.scss */
h3 {
  font-size: 1.2em;
}

/* line 57, ../scss/utility/_typo.scss */
h4 {
  font-size: 1.1em;
}

/* line 61, ../scss/utility/_typo.scss */
p {
  font-size: 1em;
}

/* line 65, ../scss/utility/_typo.scss */
code {
  background: #000;
  color: #059e4f;
  font-size: 14px;
  font-family: "Consolas","Monaco","Ubuntu Mono",monospace !important;
}

/* line 72, ../scss/utility/_typo.scss */
pre {
  background: #000;
}

/* line 1, ../scss/utility/_helper.scss */
.mg20 {
  margin: 20px;
}

/* line 5, ../scss/utility/_helper.scss */
.bd3 {
  border-radius: 3px;
}
