/* line 17, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Light Purple */
/* Base Purple */
/* Dark Purple */
/* Background Purple */
/* Base Blue */
/* Light Blue: */
/* Dark Blue: */
/* Base Green: */
/* Orange */
/* Yellow */
/* Red */
/* Light Purple */
/* Base Purple */
/* Dark Purple */
/* Background Purple */
/* Base Blue */
/* Light Blue: */
/* Dark Blue: */
/* Base Green: */
/* Orange */
/* Yellow */
/* Red */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-regular.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/Lato-light.woff") format("woff");
}

/* line 27, ../sass/_typo.scss */
body {
  font-family: Lato, "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 100;
  color: #acacc6;
}

/* line 33, ../sass/_typo.scss */
a {
  color: #4a90e2;
  text-decoration: none;
}
/* line 37, ../sass/_typo.scss */
a:hover {
  color: #a2d3f0;
}

/* line 42, ../sass/_typo.scss */
h1 {
  font-size: 1.6em;
}

/* line 46, ../sass/_typo.scss */
h2 {
  font-size: 1.4em;
}

/* line 11, ../sass/property.scss */
.property {
  background-color: #1a1a1b;
  width: 380px;
  font-size: 12px;
}
/* line 15, ../sass/property.scss */
.property .group {
  position: relative;
  display: table;
  border-bottom: 1px #000 solid;
}
/* line 20, ../sass/property.scss */
.property .group.required:after {
  position: absolute;
  z-index: 1;
  content: "";
  color: #fff;
  text-align: right;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  line-height: 24px;
  border-style: solid;
  border-width: 0 20px 20px 0;
  margin-left: -20px;
  border-color: transparent #0b8900 transparent transparent;
}
/* line 36, ../sass/property.scss */
.property .group.required:before {
  position: absolute;
  z-index: 2;
  content: "*";
  color: #fff;
  text-align: right;
  right: 0;
  top: 0;
  margin-top: 3px;
  margin-right: 3px;
}
/* line 48, ../sass/property.scss */
.property .key {
  width: 150px;
  padding: 4px 10px;
  display: table-cell;
  vertical-align: middle;
  background-color: #34343e;
  line-height: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 59, ../sass/property.scss */
.property .value {
  width: 230px;
  background-color: #27272b;
  border: 0;
}
/* line 64, ../sass/property.scss */
.property input.value {
  color: #fff;
  padding: 11px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  font-size: 12px;
}
/* line 73, ../sass/property.scss */
.property input.value:focus {
  background-color: #424242;
  outline: none;
}
/* line 77, ../sass/property.scss */
.property input.value[disabled] {
  color: #777;
}
/* line 81, ../sass/property.scss */
.property .selectize-control {
  height: 100%;
}
/* line 84, ../sass/property.scss */
.property .selectize-control.mutil .selectize-input {
  overflow-y: auto;
}
/* line 87, ../sass/property.scss */
.property .selectize-control .selectize-input {
  color: #fff;
  border: 0;
  height: 100%;
}
/* line 92, ../sass/property.scss */
.property .selectize-control .selectize-input.focus {
  background-color: #424242;
}
/* line 95, ../sass/property.scss */
.property .selectize-control .selectize-input.disabled {
  color: #777;
  background-color: #27272b;
}
/* line 99, ../sass/property.scss */
.property .selectize-control .selectize-input input {
  color: #fff;
  padding: 2px;
  font: inherit;
}
/* line 104, ../sass/property.scss */
.property .selectize-control .selectize-input div {
  padding: 2px;
}
/* line 108, ../sass/property.scss */
.property .selectize-control .selectize-dropdown {
  background-color: #373737;
  color: #9d9d97;
  border: 0;
}
/* line 112, ../sass/property.scss */
.property .selectize-control .selectize-dropdown [data-selectable], .property .selectize-control .selectize-dropdown .optgroup-header {
  padding: 10px;
}
/* line 116, ../sass/property.scss */
.property .selectize-control .selectize-dropdown .selectize-dropdown-content .selected {
  color: #fff;
}
/* line 119, ../sass/property.scss */
.property .selectize-control .selectize-dropdown .selectize-dropdown-content .active {
  background-color: #363644;
  color: #fff;
}
/* line 126, ../sass/property.scss */
.property .selectize-control.multi .selectize-input > div {
  height: 100%;
  background-color: #000;
  border: 1px #444 solid;
  border-radius: 3px;
  color: #fff;
  padding: 1px 5px;
}
/* line 133, ../sass/property.scss */
.property .selectize-control.multi .selectize-input > div.active {
  background-color: #2a608d;
  border: 1px #444 solid;
  color: #fff;
}
